@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
}

h1{
    align-self: flex-start;
    margin-right: auto;
    font-family: 'Playfair', serif;
    font-size: 50px;
}

nav{
    float: right;
    font-family: 'Bitter', serif;
}

.selecionado{
    color: #A8835D;
}

a{
    font-size: 20px;
    color: black;
    margin-right: 10px;
    transition: all 1s ease-out ;
}

a :hover{
    color: #A8835D;
}

body{
    background: #774c3a;
}

hr{
    border-top:4px solid #630; 
    border-bottom:4px solid #c7b5a2;
}

p{
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
}

.raibomText{
    display: inline-block;
    background: linear-gradient(90deg, rgba(43,40,50,1) 13%, rgba(116,114,120,1) 60%, rgba(255,255,255,1) 83%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.Textos{
    margin-top: 78px;
    padding: 15px;
    background: linear-gradient(90deg, rgba(90,40,39,1) 13%, rgba(74,40,43,1) 54%, rgba(43,40,50,1) 86%);
}

th{
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    color: white;
}


img{
    position: relative;
    z-index: -1;
    width: 150px;
    text-align: center;
}

.lacuna{
    display: inline-block;
    height: 700px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: 25px;
    
}

table{ 
    display: inline-block;
    width: 33%;
    border: 5px solid transparent;
    border-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%) 1 ;
}

td{
    text-align: left;
    
    font-size: 30px;
}

.grow{
    transition: transform  0.5s ease-in-out;
}

.grow:hover{
    transform: scale(1.5);
}

.rotate{
    transition: transform 1s ease;
}

.rotate:hover{
    transform: rotate(1100deg);
}

.translate{
    transition: transform 1s ease;
}

.translate:hover{
    transform: translate(50px,-50px);
}

.matrix{
    transition: transform 1s ease;
}

.matrix:hover{
    transform: matrix(1, -0.3, 0, 1 , 0, 20);
}

.skew{
    transition: transform 1s ease;
}

.skew:hover{
    transform: skewY(40deg);
}

.totoysereio{
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0 !important;
}

.imagem{
    width: auto;
}

.imagem:hover .totoysereio {
    display: block;
}

.questionario{
    margin: 10px;
    margin-top: 20px;
    border: 5px solid transparent;
    border-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%) 1 ;
    padding: 10px;
}

.aboutu{
    border:  5px solid transparent;
    border-image: linear-gradient(90deg, rgba(255,255,255,1) 13%, rgba(116,114,120,1) 35%, rgba(66,18,32,1) 64%) 1 ;
    padding: 20px;
}

.aboutphoto{
    border:  5px solid transparent;
    border-image: linear-gradient(90deg, rgba(255,255,255,1) 13%, rgba(255,204,65,1) 48%, rgba(255,203,60,1) 49%, rgba(255,187,0,1) 79%) 1 ;
    padding: 20px;
}


legend{
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
}

input{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

label{
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
}

.india{
    height: auto;
    width: 90%;
    margin-left: 70px;
}

video{
    position: relative;
    z-index: -1;
}

button{
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px;
    background-color: #c7b5a2;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;   
    size: 30px;
}